config AURORA_DONGLE_SHIELD
    def_bool $(shields_list_contains,aurora_dongle)

config AURORA_LEFT_SHIELD
    def_bool $(shields_list_contains,aurora_left)

config AURORA_RIGHT_SHIELD
    def_bool $(shields_list_contains,aurora_right)
